<div class="container" fxLayout="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="space-around stretch">
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="space-around">
      <div fxFlex="10%">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="email" placeholder="Email">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="10%">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="password" placeholder="Password">
        </mat-form-field>
      </div>
    </div>
    <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="space-around center">
      <div fxFlex="8%">
        <button type="submit" mat-raised-button color="primary">Login</button>
      </div>
    </div>
  </form>
</div>