<div class="container" fxLayout="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="space-around stretch">
    <form class="example-form">
  <div fxLayout="row" fxLayoutAlign="start">
      <div fxFlex="25%">
          <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="ID" value="{{issueService.issue.id}}" disabled>
        </mat-form-field>
      </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around">
      <div fxFlex="25%">
          <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Requester" value="{{issueService.issue.owner}}" disabled>
        </mat-form-field>
      </div>

      <div fxFlex="25%">
          <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Assignee" value="{{issueService.issue.owner}}" disabled>
        </mat-form-field>
      </div>

      <div fxFlex="25%">
          <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Priority" value="{{issueService.issue.priority}}" disabled>
        </mat-form-field>
      </div>

      <div fxFlex="25%">
          <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Status" value="{{issueService.issue.status}}" disabled>
        </mat-form-field>
      </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around">

      <div fxFlex="25%">
          <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Project" value="{{issueService.issue.project}}" disabled>
        </mat-form-field>
      </div>

      <div fxFlex="25%">
          <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Date Created" value="{{issueService.issue.dateCreated}}" disabled>
        </mat-form-field>
      </div>

      <div fxFlex="25%">
          <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Last Updated" value="{{issueService.issue.dateLastUpdated}}" disabled>
        </mat-form-field>
      </div>

      <div fxFlex="25%">
          <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Date Closed" value="{{issueService.issue.dateClosed}}" disabled>
        </mat-form-field>
      </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start">
      <mat-form-field class="example-full-width">
          <textarea matInput type="text" placeholder="Description" value="{{issueService.issue.description}}" disabled></textarea>
        </mat-form-field>
  </div>
</form>
  <div fxLayout="row" fxLayoutAlign="center">
    <h2>Messages</h2>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            This is the title for issue
          </mat-panel-title>
        </mat-expansion-panel-header>
        This is my issue
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>